<html>
    <head>
        <title>An Fong's blog</title>
    </head>
    <body>
        <h1><a href="/">An Fong's Blog</a></h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nZtH3biLKwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div>
            {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
