<html>
    <head>
        <title>An Fong's blog</title>
    </head>
    <body>
       <div>
           <h1><a href="/">An Fong's Blog</a></h1>
       </div>
       <div>
            <p>published: 21.01.2019, 11:40</p>
            <h2><a href="">My first post</a></h2>
            <p>It is what it is.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nZtH3biLKwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </body>
</html>
